body {
	background-color: #93E4FF;
}

h1 {
	text-align: center;
	padding-top: 10px;
	border: 5px dotted black;
}

section {
	padding-left: 15px;
}

.Users {
	float: right;
	padding-left: 0;
	padding-right: 0;
	width: 175px; 
}

.tweets {
	float: left;
	display: inline;
}